.main-navbar {
    padding: 18px 0;
    background-color: $black;

    @media screen and (max-width: $md) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__wrapper {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: minmax(196px, auto) 1fr auto auto;
        grid-template-rows: 1fr;
        flex-grow: 1;
        gap: 60px;
        align-items: center;

        @media screen and (max-width: $xl) {
            gap: 15px;
        }

        @media screen and (max-width: $lg) {
            grid-auto-rows: 1fr;
            grid-template-columns: minmax(196px, auto) 1fr auto;
            grid-template-rows: repeat(2, 1fr);
        }

        @media screen and (max-width: $md) {
            grid-auto-rows: auto;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 1fr auto;
            align-items: start;
        }
    }

    &__catalog-btn {
        display: flex;
        gap: 15px;
        align-items: center;

        padding: 15.5px 16px;

        text-transform: none;
        text-wrap: balance;

        @media screen and (max-width: $lg) {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        @media screen and (max-width: $md) {
            grid-column: 1/2;
            grid-row: 2/3;
            justify-content: center;
        }

        svg {
            flex-shrink: 0;
        }
    }

    &__buttons {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        white-space: nowrap;

        @media screen and (max-width: $lg) {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        @media screen and (max-width: $md) {
            grid-column: 1/2;
            grid-row: 3/4;
            flex-direction: column;
            justify-content: flex-start;
        }

        &-btn {
            padding: 14.5px 15px;
            transition: color $base-transition;

            @media screen and (max-width: $lg) {
                padding: 10px;
            }

            @media (hover: hover) {
                &:hover {
                    color: $orange;
                }
            }

            &:active {
                &:hover {
                    color: $orange;
                    background-color: $orange;
                }
            }
        }
    }

    &__socials {
        gap: 10px;
        max-width: 100%;

        @media screen and (max-width: $lg) {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        @media screen and (max-width: $md) {
            grid-column: 1/2;
            grid-row: 4/5;
            max-width: 150px;
            margin: 0 auto;
        }
    }

    &__search {
        max-width: 310px;

        @media screen and (max-width: $lg) {
            grid-column: 1/4;
            grid-row: 1/2;
            max-width: 100%;
        }

        @media screen and (max-width: $md) {
            grid-column: 1/2;
            grid-row: 1/2;
            max-width: 100%;
        }
    }
}
