{
    "extends": ["stylelint-config-standard-scss", "stylelint-config-clean-order"],

    "rules": {
        "unit-allowed-list": ["%", "deg", "px", "ms", "vh", "dvh", "s"],
        "media-feature-range-notation": null,
        "selector-class-pattern": null,
        "selector-id-pattern": null
    }
}
