.main-footer {
    min-height: 333px;
    padding: 45px 0;
    color: $white;
    background-color: $coal;

    &__wrapper {
        display: flex;
        gap: 16px;
        align-items: flex-start;
        justify-content: space-around;

        margin-bottom: 24px;

        @media screen and (max-width: $md) {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @media screen and (max-width: $sm) {
            gap: 50px;
        }

        @media screen and (max-width: $extra-sm) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (max-width: $extra-sm) {
            gap: 24px;
            text-align: center;
        }
    }

    &__link {
        color: inherit;
        transition: color $base-transition;

        @media (hover: hover) {
            &:hover {
                color: $orange;
            }
        }

        &:active {
            color: $orange;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (max-width: $extra-sm) {
            gap: 30px;
            text-align: center;
        }

        &-link {
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__copyright {
        display: block;
        text-align: center;
    }
}
