.main-button {
    position: relative;

    overflow: hidden;

    padding: 14.5px 32px;

    font-weight: 500;
    color: $white;
    text-transform: uppercase;

    background-color: $orange;
    border: 1px solid transparent;
    border-radius: $base-radius;

    transition:
        background-color $base-transition,
        border-color $base-transition,
        color $base-transition;

    &__ripple {
        position: absolute;
        transform: scale(0);

        opacity: 1;
        background-color: rgb(255 255 255 / 50%);
        border-radius: 50;

        transition: opacity 0.7s ease-in-out;
        animation: ripple-effect 0.7s ease-in-out;
    }

    &:active {
        background-color: $black;
    }

    &:disabled {
        pointer-events: none;
        background-color: $gray;
    }

    &_black {
        background-color: $black;

        &:active {
            background-color: $orange;
        }

        @media (hover: hover) {
            &:hover {
                background-color: $orange;
            }
        }
    }

    &_outlined {
        color: $black;
        background-color: transparent;
        border-color: $gray;

        &:active {
            color: $white;
            background-color: $orange;
            border-color: $orange;
        }

        @media (hover: hover) {
            &:hover {
                color: $white;
                background-color: $orange;
                border-color: $orange;
            }
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: $black;
        }
    }
}

@keyframes ripple-effect {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
