$white: #ffffff;
$black: #000000;
$background: #f2f5f7;
$coal: #212526;
$dark-gray: #3b3b3b;
$gray: #dedbdb;
$smoky: #8a8a8a;
$orange: #f05a00;
$red: #fc573b;
$green: #126935;

$base-radius: 5px;

$extra-sm: 414px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
