@use './_reset';
@use './_variables';

html,
body,
#__nuxt,
main {
    width: 100%;
    height: 100dvh;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: $background;
    font-size: 16px;
    font-weight: 500;
    color: $black;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.page-title {
    font-family: 'Prosto One', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.title {
    font-family: 'Prosto One', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
}

.text-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text-mini {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.text-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
